<mat-form-field style="width: 200px;" floatLabel="never" #unitForm>
  <input type="text" placeholder="Quantity-Unit" matInput [formControl]="inputField" [matAutocomplete]="auto" (focus)="onFocus(unitForm)" (blur)="onBlur(unitForm)" required>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
    <mat-option *ngFor="let option of filteredUnits | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
