<h2 class="mat-display-2">SKUs</h2>
<div class="search-div">
    <app-search-sku class="search"></app-search-sku>
    <br style="clear:both" />
</div>
<div class="button-div">
  <button *ngIf="isAdmin()" class="remove" mat-raised-button="remove" type="button" (click)="remove()" color="accent" [disabled]="selection.selected.length==0">Remove Selected</button>
  <app-bulk-sku-edit *ngIf="isAdmin()" [selectedSkus]="selection.selected"></app-bulk-sku-edit>
  <app-add-sku class="add" *ngIf="isAdmin()"></app-add-sku>
  <button mat-raised-button="export_skus" class="export_skus" type="button" (click)="exportSkus()" color="accent">Export SKUs</button>
  <button mat-raised-button="export_formulas" class="export_formulas" type="button" (click)="exportFormulas()" color="accent">Export Formulas</button>
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
			  <input #name matInput class = "padded-input" placeholder="Name" [value]="element.name" maxlength="32" (blur)="edit(element.id, 'name', name.value)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #number matInput placeholder="Number" [value]="element.id" (blur)="edit(element.id, 'id', number.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Vendor Info Column -->
  <ng-container matColumnDef="case_upc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Case UPC Number</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #case_upc matInput placeholder="Case UPC" [value]="element.case_upc" (blur)="edit(element.id, 'case_upc', case_upc.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Package Size Column -->
  <ng-container matColumnDef="unit_upc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit UPC Number</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #unit_upc matInput placeholder="Unit UPC" [value]="element.unit_upc" (blur)="edit(element.id, 'unit_upc', unit_upc.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Cost Per Package Column -->
  <ng-container matColumnDef="unit_size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Size</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #unit_size matInput placeholder="Unit Size" [value]="element.unit_size" (blur)="edit(element.id, 'unit_size', unit_size.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="count_per_case">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count Per Case</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #count_per_case matInput placeholder="Count Per Case" [value]="element.count_per_case" (blur)="edit(element.id, 'count_per_case', count_per_case.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Product Line -->
  <ng-container matColumnDef="product_line">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Line</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #product_line matInput placeholder="Product Line" [value]="element.product_line" (blur)="edit(element.id, 'product_line', product_line.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Formula Column -->
  <ng-container matColumnDef="formula">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Formula</th>
    <td mat-cell *matCellDef="let element">
      <app-formula-editor (formulaOutput)="updateFormula(element.id, $event)" [initFormula]="element.formula"></app-formula-editor>
    </td>
  </ng-container>

  <!-- Formula Scale Factor Column -->
  <ng-container matColumnDef="formula_scale_factor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Formula Scale Factor</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #formula_scale_factor matInput placeholder="Formula Scale Factor" [value]="element.formula_scale_factor" (blur)="edit(element.id, 'formula_scale_factor', formula_scale_factor.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Manufacturing Lines Column -->
  <ng-container matColumnDef="manufacturing_lines">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturing Lines</th>
    <td mat-cell *matCellDef="let element">
      <div class="main-centered">
        <div class="centered">
          <mat-chip-list class="mat-chip-list-stacked">
            <ng-container *ngFor="let manufLine of element.manufacturing_lines; let id=index">
              <mat-chip>{{manufLine}}</mat-chip>
            </ng-container>
          </mat-chip-list>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Manufacturing Rate -->
  <ng-container matColumnDef="manufacturing_rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturing Rate</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #manufacturing_rate matInput placeholder="Manufacturing Rate" [value]="element.manufacturing_rate" (blur)="edit(element.id, 'manufacturing_rate', manufacturing_rate.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <textarea #comment matInput placeholder="Comment" [value]="element.comment" (blur)="edit(element.id, 'comment', comment.value)" optional></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalDocs" [pageSize]="10 < totalDocs ? 10 : totalDocs" [pageSizeOptions]="[10, totalDocs]" showFirstLastButtons></mat-paginator>
