<h2 class="mat-display-2">SKUs</h2>
<div class="search-div">
    <app-search-sku class="search"></app-search-sku>
    <br style="clear:both" />
</div>
<div class="button-div">
  <button *ngIf="isAdmin()" class="remove" mat-raised-button="remove" type="button" (click)="remove()" color="accent" [disabled]="selection.selected.length==0">Remove Selected</button>
  <app-add-sku class="add" *ngIf="isAdmin()"></app-add-sku>
  <button mat-raised-button="export_skus" class="export_skus" type="button" (click)="exportSkus()" color="accent">Export SKUs</button>
  <button mat-raised-button="export_formulas" class="export_formulas" type="button" (click)="exportFormulas()" color="accent">Export Formulas</button>
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
			  <input #name matInput placeholder="Name" [value]="element.name" maxlength="32" (blur)="edit(element.id, 'name', name.value)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #number matInput placeholder="Number" [value]="element.id" (blur)="edit(element.id, 'id', number.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Vendor Info Column -->
  <ng-container matColumnDef="case_upc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Case UPC Number</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #case_upc matInput placeholder="Case UPC" [value]="element.case_upc" (blur)="edit(element.id, 'case_upc', case_upc.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Package Size Column -->
  <ng-container matColumnDef="unit_upc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit UPC Number</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #unit_upc matInput placeholder="Unit UPC" [value]="element.unit_upc" (blur)="edit(element.id, 'unit_upc', unit_upc.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Cost Per Package Column -->
  <ng-container matColumnDef="unit_size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Size</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #unit_size matInput placeholder="Unit Size" [value]="element.unit_size" (blur)="edit(element.id, 'unit_size', unit_size.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="count_per_case">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count Per Case</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #count_per_case matInput placeholder="Count Per Case" [value]="element.count_per_case" (blur)="edit(element.id, 'count_per_case', count_per_case.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Product Line -->
  <ng-container matColumnDef="product_line">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Line</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #product_line matInput placeholder="Product Line" [value]="element.product_line" (blur)="edit(element.id, 'product_line', product_line.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Formula Column -->
  <ng-container matColumnDef="formula">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Formula</th>
    <td mat-cell *matCellDef="let element">

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <input type="text" class="form-control" maxlength="32" id="formula_name" (click)="stopPropagation($event)" placeholder="Formula Name" required [(ngModel)]="element.formula.name" name="formula_name" #formula_name>
            </mat-panel-title>
            <mat-panel-description>
              Edit Formula
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <mat-form-field>
              <input matInput type="text" class="form-control" id="number" required [(ngModel)]="element.formula.number" placeholder="Formula Number" name="number" #number="ngModel">
            </mat-form-field>
            <br>
            <mat-form-field>
              <textarea matInput type="text" class="form-control" id="comment" required [(ngModel)]="element.formula.comment" placeholder="Comment" name="comment" #comment="ngModel"></textarea>
            </mat-form-field>
          </div>
          <mat-card>
            <mat-card-subtitle [style.color]="'black'">Ingredient-Quantity Pairs</mat-card-subtitle>
            <mat-chip-list>
              <ng-container *ngFor="let ingredient of element.formula.ingredient_tuples; let ingr_id=index">
                <div>
                  <mat-chip>{{ingredient.ingredient}} : {{ingredient.quantity}} <mat-icon (click)="removeIngrQuant(ingr_id)">clear</mat-icon></mat-chip>
                </div>
              </ng-container>
            </mat-chip-list>
            <app-ingredient-autocomplete (messageEvent)="setIngredientInput(id, $event)"></app-ingredient-autocomplete>
            <mat-form-field style="width: 200px;">
              <input matInput [(ngModel)]="quantityInput" (keydown) = "keyPressed($event)" name="quantity" type="text" placeholder="Quantity"/><br>
            </mat-form-field>
            <button mat-raised-button type="button" (click)="addIngredientQuantity(id, $event)" color="accent">Add Ingr-Quant</button>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>

    </td>
  </ng-container>

  <!-- Formula Scale Factor Column -->
  <ng-container matColumnDef="formula_scale_factor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Formula Scale Factor</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #formula_scale_factor matInput placeholder="Formula Scale Factor" [value]="element.formula_scale_factor" (blur)="edit(element.id, 'formula_scale_factor', formula_scale_factor.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Manufacturing Lines Column -->
  <ng-container matColumnDef="manufacturing_lines">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturing Lines</th>
    <td mat-cell *matCellDef="let element">
      <li *ngFor="let manufLine of element.manufacturingLines">{{manufLine}}</li>
    </td>
  </ng-container>

  <!-- Manufacturing Rate -->
  <ng-container matColumnDef="manufacturing_rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturing Rate</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" class="input-flex-width">
        <input #manufacturing_rate matInput placeholder="Manufacturing Rate" [value]="element.manufacturing_rate" (blur)="edit(element.id, 'manufacturing_rate', manufacturing_rate.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <textarea #comment matInput placeholder="Comment" [value]="element.comment" (blur)="edit(element.id, 'comment', comment.value)" optional></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
</table>

<mat-paginator [length]="maxPages*10" [pageSize]="10" showFirstLastButtons></mat-paginator>


<!-- code based off https://mdbootstrap.com/docs/angular/tables/editable/#advanced-table-options -->
<!-- <app-search-ingredient></app-search-ingredient> -->
<!-- <div class="card">
  <h3 class="card-header text-center font-weight-bold py-4">SKUs</h3>
  <app-search-sku></app-search-sku>
<div class="pagination">
  <a (click) = "prevPage()">&laquo;</a>
  <li *ngFor="let i of shownPages()" (click)="setPage(i)">
      <a [ngClass]="{active: i == currentPage}">{{i}}</a>
  </li>
  <a (click) = "nextPage()">&raquo;</a>
</div>
  <div class="card-body">
    <button class = "add" type="button" (click)="exportSkus()">Export SKUS</button>
    <button class = "add" type="button" (click)="exportFormulas()">Export Formulas</button>
    <div id="table" class="table-editable">
      <app-add-sku *ngIf="isAdmin()"></app-add-sku>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center" (click)="setSortBy('name')">SKU Name <i *ngIf="sortBy=='name'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('number')">SKU Number <i *ngIf="sortBy=='number'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('case_upc')">Case UPC Number <i *ngIf="sortBy=='case_upc'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('unit_upc')">Unit UPC Number <i *ngIf="sortBy=='unit_upc'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('size')">Unit Size <i *ngIf="sortBy=='size'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('count')">Count Per Case <i *ngIf="sortBy=='count'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('product_line')">Product Line<i *ngIf="sortBy=='product_line'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('ingredients')">Ingredients <i *ngIf="sortBy=='ingredients'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('comment')">Comment <i *ngIf="sortBy=='comment'" class="fa fa-sort-desc"></i></th>
        </tr>

       <ng-container *ngFor="let sku of skuList; let id=index">
         <ng-container *ngIf="isAdmin()==true">
            <tr>
              <td contenteditable="true" (keyup)="changeValue(id, 'name', $event); contenteditable = true" (blur)="edit(sku.id, 'name', $event)">{{sku.name}}</td>
              <td onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;"
                contenteditable="true" (keyup)="changeValue(id, 'id', $event)" (blur)="edit(sku.id, 'id', $event)">{{sku.id}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'case_upc', $event)" (blur)="edit(sku.id, 'case_upc', $event)">{{sku.case_upc}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'unit_upc', $event)" (blur)="edit(sku.id, 'unit_upc', $event)">{{sku.unit_upc}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'unit_size', $event)" (blur)="edit(sku.id, 'unit_size', $event)">{{sku.unit_size}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'count_per_case', $event)" (blur)="edit(sku.id, 'count_per_case', $event)">{{sku.count_per_case}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'product_line', $event)" (blur)="edit(sku.id, 'product_line', $event)">{{sku.product_line}}</td>
              <td contenteditable="false">
                <ng-container *ngFor="let ingredient of sku.ingredient_quantity; let ingr_id=index">
                  <a *ngIf="ingredient.ingredient_name!=null">{{ingredient.ingredient_name}} : {{ingredient.quantity}}
                    <i (click)="removeIngrQuant(ingr_id,id,sku.id)" class="fa fa-remove"> </i><br></a>
                </ng-container>
                <app-ingredient-autocomplete (messageEvent)="setIngredientInput(id, $event)"></app-ingredient-autocomplete>
                <br>
                <mat-form-field style="width: 200px;">
                  <input matInput [(ngModel)]="quantityInputs[id]" (keydown) = "keyPressed(sku.id, id, $event)" type="text" placeholder="Quantity"/><br>
                </mat-form-field>
              </td>
              <td contenteditable="true" (keyup)="changeValue(id, 'comment', $event)" (blur)="edit(sku.id, 'comment', $event)">{{sku.comment}}</td>
              <td>
                <button class="remove" type="button" (click)="remove(sku.id)">Remove</button>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="isAdmin()==false">
            <tr>
              <td contenteditable="false">{{sku.name}}</td>
              <td contenteditable="false">{{sku.id}}</td>
              <td contenteditable="false">{{sku.case_upc}}</td>
              <td contenteditable="false">{{sku.unit_upc}}</td>
              <td contenteditable="false">{{sku.unit_size}}</td>
              <td contenteditable="false">{{sku.count_per_case}}</td>
              <td contenteditable="false">{{sku.product_line}}</td>
              <td contenteditable="false">
                <ng-container *ngFor="let ingredient of sku.ingredient_quantity; let ingr_id=index">
                  <a *ngIf="ingredient.ingredient_name!=null">{{ingredient.ingredient_name}} : {{ingredient.quantity}}</a><br>
                </ng-container>
              </td>
              <td contenteditable="false">{{sku.comment}}</td>
            </tr>
          </ng-container>

        </ng-container>

      </table>
    </div>
  </div>
</div> -->
