<h2 class="mat-display-2">Formulas</h2>
<div class="search-div">
    <!-- <app-search-ingredient class="search"></app-search-ingredient> -->
    <br style="clear:both" />
</div>
<div class="button-div">
  <button *ngIf="isAdmin()" class="remove" mat-raised-button="remove" type="button" (click)="remove()" color="accent" [disabled]="selection.selected.length==0">Remove Selected</button>
  <!-- <app-add-ingredient class="add" *ngIf="isAdmin()"></app-add-ingredient> -->
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
			  <input #name matInput placeholder="Name" [value]="element.name" (blur)="edit(element.id, 'name', name.value)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Formula#</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input #number matInput placeholder="Number" [value]="element.id" (blur)="edit(element.id, 'id', number.value)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Ingredient Tuples Column -->
  <ng-container matColumnDef="ingredient_tuples">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingredient Tuples</th>
    <td mat-cell *matCellDef="let element">

    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <textarea #comment matInput placeholder="Comment" [value]="element.comment" (blur)="edit(element.id, 'comment', comment.value)" optional></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Num Skus Column -->
  <ng-container matColumnDef="num_skus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SKUs</th>
    <td mat-cell *matCellDef="let element"> {{getNumSkus(element)}}
    <mat-icon *ngIf="expandedFormula!=element" (click)="expandedFormula = expandedFormula === element ? null : element" color="accent">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="expandedFormula==element" (click)="expandedFormula = expandedFormula === element ? null : element" color="accent">keyboard_arrow_up</mat-icon></td>
  </ng-container>

  <!-- Expanded SKUs Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedFormula ? 'expanded' : 'collapsed'">
        <!-- <mat-list>
          <ng-container *ngFor = "let sku of element.skus; let id2=index">
            <mat-list-item> {{sku.name}} : {{sku.size}} * {{sku.count}} ({{sku.number}}) </mat-list-item>
          </ng-container>
        </mat-list> -->
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedFormula === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
</table>

<mat-paginator [length]="totalDocs" [pageSize]="10 < totalDocs ? 10 : totalDocs" [pageSizeOptions]="[10, totalDocs]" showFirstLastButtons></mat-paginator>
