<h1 class="mat-display-3" align="center">Formulas</h1>
<div class="search-div">
    <app-search-formula class="search"></app-search-formula>
    <br style="clear:both" />
</div>
<div *ngIf="canUpdate()" align="center">
  <mat-slide-toggle [(ngModel)]="liveEditing">Live Editing Enabled</mat-slide-toggle>
</div>
<div class="button-div" *ngIf="canUpdate()">
  <button class="remove" mat-raised-button="remove" type="button" (click)="remove()" color="accent" [disabled]="selection.selected.length==0 || !isEditable()">Remove Selected</button>
  <button mat-raised-button="export_formulas" class="export_formulas" type="button" (click)="export()" color="accent">Export</button>
  <app-add-formula class="add"></app-add-formula>
</div>
<div class="flex-box-center" *ngIf="isAnalyst() && !canUpdate()">
  <div class="flex-item">
    <button mat-raised-button="export_formulas" class="export_formulas" type="button" (click)="export()" color="accent">Export</button>
  </div>
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #nameField>
			  <input #name matInput [readonly]="!isEditable()" maxlength="32" (focus)="addUnderline(nameField)" [value]="element.name" (blur)="edit(element.id, 'name', name.value); removeUnderline(nameField)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <!-- Number Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Formula#</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #numberField>
        <input #number matInput [readonly]="!isEditable()" [value]="element.id" (focus)="addUnderline(numberField)" (blur)="edit(element.id, 'id', number.value); removeUnderline(numberField)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Ingredient Tuples Column -->
  <ng-container matColumnDef="ingredient_tuples">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingredient Tuples</th>
    <td mat-cell *matCellDef="let element">
      <div class="ingr-tuples">
        <mat-chip-list class="mat-chip-list-stacked">
          <ng-container *ngFor="let tuple of element.ingredient_tuples; let ingr_id=index">
            <div>
              <mat-chip class="chip">{{tuple.ingredient}} : {{tuple.quantity}} {{tuple.unit}} <mat-icon *ngIf="isEditable()" (click)="removeIngrQuant(ingr_id, element.id)">clear</mat-icon></mat-chip>
            </div>
          </ng-container>
        </mat-chip-list>
      </div>
      <ng-container *ngIf="isEditable()">
        <div>
          <app-ingredient-autocomplete (messageEvent)="setIngredientInput($event)"></app-ingredient-autocomplete>
        </div>
        <app-unit-autocomplete [initUnit]="" (messageEvent)="updateUnit($event)"></app-unit-autocomplete>
        <br>
        <button mat-raised-button type="button" (click)="addIngredientQuantity(element.id)" color="accent">Add Ingr-Quant</button>
      </ng-container>
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #commentField>
        <textarea #comment cdkTextareaAutosize matInput [readonly]="!isEditable()" [value]="element.comment" (focus)="addUnderline(commentField)" (blur)="edit(element.id, 'comment', comment.value); removeUnderline(commentField)" optional></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Num Skus Column -->
  <ng-container matColumnDef="sku_dropdown">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SKUs</th>
    <td mat-cell *matCellDef="let element"> {{getNumSkus(element)}}
    <mat-icon *ngIf="expandedFormula!=element" (click)="expandedFormula = expandedFormula === element ? null : element" color="accent">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="expandedFormula==element" (click)="expandedFormula = expandedFormula === element ? null : element" color="accent">keyboard_arrow_up</mat-icon></td>
  </ng-container>

  <!-- Expanded SKUs Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedFormula ? 'expanded' : 'collapsed'">
        <!-- <mat-list>
          <ng-container *ngFor = "let sku of element.skus; let id2=index">
            <mat-list-item> {{sku.name}} : {{sku.size}} * {{sku.count}} ({{sku.number}}) </mat-list-item>
          </ng-container>
        </mat-list> -->
        <mat-chip-list align="end" class="mat-chip-list-stacked">
          <ng-container *ngFor="let sku of element.skus; let id2=index">
            <div>
              <mat-chip class="chip">{{sku.name}} : {{sku.size}} * {{sku.count}} ({{sku.number}})</mat-chip>
            </div>
          </ng-container>
        </mat-chip-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedFormula === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
</table>

<mat-paginator [length]="totalDocs" [pageSize]="10 < totalDocs ? 10 : totalDocs" [pageSizeOptions]="[10, totalDocs]" showFirstLastButtons></mat-paginator>
