<ng-container *ngFor="let keyword of keywords; let id=index">
  <label class="keyword">{{keyword}} <i (click)="removeKeyword(id)" class="fa fa-remove"> </i></label>
</ng-container>
<ng-container *ngFor="let ingredient of ingredients; let id=index">
  <label class="ingredient">{{ingredient}} <i (click)="removeIngredient(id)" class="fa fa-remove"> </i></label>
</ng-container>
<ng-container *ngFor="let productLine of productLines; let id=index">
  <label class="product-line">{{productLine}} <i (click)="removeProductLine(id)" class="fa fa-remove"> </i></label>
</ng-container>

<br>
<!-- <section class="filter-wrapper">
 <div class="dropdown">
   <span>
<input [formControl]="inputField" type="text" id="keyword" placeholder="Search for skus/ingredients/product lines"
  (keydown)="keyPressed($event)" autofocus/>
  </span>

    <div class="dropdown-content" *ngIf="inputField.value?.length > 0">
      <ul>
        <li *ngFor="let ingredient of suggestedIngredients" class="ingredient-list">
          <p class="ingredient-name" (click) = "addIngredient(ingredient.name)">{{ingredient.name}}</p>
        </li>
        <li *ngFor="let productLine of suggestedProductLines" class="product-line-list">
          <p class="product-line-name" (click) = "addProductLine(productLine.name)">{{productLine.name}}</p>
        </li>
      </ul>
    </div>
    </div>
</section> -->

<mat-form-field style="width: 400px;">
  <input type="text" matInput [formControl]="inputField" [matAutocomplete]="auto" placeholder="Search for skus/ingredients/product lines" (keydown)="keyPressed($event)">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
  <mat-option *ngFor="let ingr of suggestedIngredients" [value]="ingr">{{ingr.name}}
     <font color="lightgray">Ingredient</font> </mat-option>
   <mat-option *ngFor="let prod of suggestedProductLines" [value]="prod">{{prod.name}}
      <font color="lightgray">Product Line</font> </mat-option>
</mat-autocomplete>
