<div class="example-container">
  <div class="header-list">
    <div class="header-box"></div>
    <ng-container *ngFor="let item of hourHeaders">
      <div class="header-box">{{item}}</div>
    </ng-container>
  </div>

  <ng-container *ngFor="let manufLine of manufLines; let id = index">
    <div
      class="example-list">
      <div class="header-box">{{manufLine}}</div>
      <ng-container *ngFor="let item of hours[id]; let hour_id = index">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          [cdkDropListData]="hours[id]"
          [cdkDropListConnectedTo]="getLists()"
          class="example-list"
          [id]="'list-' + id + '-hour-' + hour_id"
          (cdkDropListDropped)="drop($event)"
          (cdkDropListEntered)="log($event)">
          <div [ngClass]="{'example-box': item==='', 'selected-box': starting_hours[id][hour_id]=='' && item!='', 'start-box': starting_hours[id][hour_id]!=''}" cdkDrag [cdkDragDisabled]="starting_hours[id][hour_id]==''" (cdkDragEntered)="log($event)" (dblclick)="log()">{{item}}
            <mat-icon *cdkDragPreview></mat-icon>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</div>
