.example-container {
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 1375px;
  overflow: hidden;
}

.example-list {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  min-width: 125px;
  max-width: 125px;
}

.example-box {
  padding: 20px 10px;
  /* border-right: solid 1px #ccc; */
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  overflow: hidden;
  text-align: center;
}

.selected-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: mediumaquamarine;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.start-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: #52A488;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.header-list {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
}

.header-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: grey;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
}

.mat-button-toggle-group {
  left: 25%;
}

.duration-override-start-box{
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: orange;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.duration-override-selected-box{
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #FECF6A;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.past-deadline-start-box{
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: orangered;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.past-deadline-selected-box{
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: tomato;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.orphaned-start-box{
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
  background: grey;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.orphaned-selected-box{
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: lightgrey;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 125px;
  max-width: 125px;
  text-align: center;
}

.fixed-container {
  width: 1150px;
  overflow: auto;
}
