<h1 mat-dialog-title>Manufacturing Goal Calculator</h1>
<mat-dialog-content style="height:450px">
  <p>{{manufGoal}}</p>
  <mat-table *ngIf="calculateList.length > 0" class="calculator-table" [dataSource]="calculateList">
    <ng-container *ngFor="let column of calculateColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="calculateColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: calculateColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="calculator-button" (click)="print()">View printable page</button>
  <button mat-raised-button class="calculator-button" (click)="exportcsv()">Export CSV</button>
</mat-dialog-actions>

