<table class="table table-bordered table-responsive-md table-striped text-center">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Package Size</th>
    <th>Cost</th>
    <th>Quantity</th>
  </tr>

 <ng-container *ngFor="let calculatedVal of calculateList; let id=index">
    <tr>
      <td>{{calculatedVal.number}}</td>
      <td>{{calculatedVal.name}}</td>
      <td>{{calculatedVal.package_size}}</td>
      <td>{{calculatedVal.cost}}</td>
      <td>{{calculatedVal.calculated_quantity}}</td>
    </tr>
 </ng-container>
</table>

<button type="button" (click)="export()">Export</button>
<button type="button" (click)="exportcsv()">Export CSV</button>
