<!-- code based off https://mdbootstrap.com/docs/angular/tables/editable/#advanced-table-options -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold py-4">Ingredients</h3>
  <app-search-ingredient></app-search-ingredient>
<div class="pagination">
  <a (click) = "prevPage()">&laquo;</a>
  <li *ngFor="let i of shownPages()" [ngClass]="{active: i == currentPage}" (click)="setPage(i)">
      <a>{{i}}</a>
  </li>
  <a (click) = "nextPage()">&raquo;</a>
</div>
  <div class="card-body">
    <div id="table" class="table-editable">
      <!-- <button *ngIf="isAdmin()==true" class = "add" type="button" (click)="add()"><i class="fa fa-plus"></i></button> -->
      <app-add-ingredient *ngIf="isAdmin()"></app-add-ingredient>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center" (click)="setSortBy('name')">Ingredient Name <i *ngIf="sortBy=='name'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('number')">Ingredient Number <i *ngIf="sortBy=='number'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('vendor_info')">Vendor Information <i *ngIf="sortBy=='vendor_info'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('package_size')">Package Size <i *ngIf="sortBy=='package_size'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('cost')">Cost Per Package (USD) <i *ngIf="sortBy=='cost'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('comment')">Comment <i *ngIf="sortBy=='comment'" class="fa fa-sort-desc"></i></th>
          <th class="text-center" (click)="setSortBy('skus')">SKUs</th>

        </tr>

       <ng-container *ngFor="let ingredient of ingredientList; let id=index">
         <!-- TABLE VIEWED BY ADMIN -->
         <ng-container *ngIf="isAdmin()==true">
            <tr>
              <td contenteditable="true" (keyup)="changeValue(id, 'name', $event); contenteditable = true" (blur)="edit(ingredient.name, 'name', $event)">{{ingredient.name}}</td>
              <td onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57;"
                contenteditable="true" (keyup)="changeValue(id, 'id', $event)" (blur)="edit(ingredient.name, 'id', $event)">{{ingredient.id}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'vendor_info', $event)" (blur)="edit(ingredient.name, 'vendor_info', $event)">{{ingredient.vendor_info}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'package_size', $event)" (blur)="edit(ingredient.name, 'package_size', $event)">{{ingredient.package_size}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'cost_per_package', $event)" (blur)="edit(ingredient.name, 'cost_per_package', $event)">{{ingredient.cost_per_package}}</td>
              <td contenteditable="true" (keyup)="changeValue(id, 'comment', $event)" (blur)="edit(ingredient.name, 'comment', $event)">{{ingredient.comment}}</td>
              <td contenteditable="false" (click) = "skuShown[id] = !skuShown[id] && getNumSkus(ingredient)>0">{{getNumSkus(ingredient)}}  <i *ngIf="getNumSkus(ingredient)>0 && (skuShown[id]==false || skuShown[id]==null)" class="fa fa-sort-desc"></i> <i *ngIf="(skuShown[id]==true)" class="fa fa-sort-asc"></i></td>
              <td>
                <button class="remove" type="button" (click)="remove(ingredient.name)">Remove</button>
              </td>
            </tr>
          </ng-container>

          <!-- TABLE VIEWED BY NON-ADMIN -->
          <ng-container *ngIf="isAdmin()==false">
            <tr>
              <td contenteditable="false">{{ingredient.name}}</td>
              <td contenteditable="false">{{ingredient.id}}</td>
              <td contenteditable="false">{{ingredient.vendor_info}}</td>
              <td contenteditable="false">{{ingredient.package_size}}</td>
              <td contenteditable="false">{{ingredient.cost_per_package}}</td>
              <td contenteditable="false">{{ingredient.comment}}</td>
              <td contenteditable="false" (click) = "skuShown[id] = !skuShown[id] && getNumSkus(ingredient)>0">{{getNumSkus(ingredient)}} <i *ngIf="getNumSkus(ingredient)>0 (skuShown[id]==false || skuShown[id]==null)" class="fa fa-sort-desc"></i> <i *ngIf="(skuShown[id]==true)" class="fa fa-sort-asc"></i></td>
            </tr>
          </ng-container>

          <!--<ng-container *ngIf="(skuShown[id].shown == true)">-->
          <ng-container *ngIf="(skuShown[id]==true)">
            <tr class="blankcell" *ngFor = "let sku of ingredient.skus; let id2=index">
              <td class="blankcell"></td>
              <td colspan = "6" contenteditable="false">{{sku.name}}</td>
            </tr>
          </ng-container>
        </ng-container>

      </table>
    </div>
  </div>
</div>
