<h1 class="mat-display-3" align="center">Ingredients</h1>
<div class="search-div">
    <app-search-ingredient class="search"></app-search-ingredient>
    <br style="clear:both" />
</div>
<div *ngIf="canUpdate()" align="center">
  <mat-slide-toggle [(ngModel)]="liveEditing">Live Editing Enabled</mat-slide-toggle>
</div>
<div class="button-div" *ngIf="canUpdate()" >
  <button class="remove" mat-raised-button="remove" type="button" (click)="remove()" color="accent" [disabled]="selection.selected.length==0 || !isEditable()">Remove Selected</button>
  <app-add-ingredient [disabled]="!liveEditing" class="add"></app-add-ingredient>
  <app-create-dependency-report class="dependency" [sortBy]="this.sortBy" [keywords]="this.keywords" [skus]="this.skus"></app-create-dependency-report>
  <button class="export" mat-raised-button="export" type="button" (click)="export()" color="accent">Export</button>
</div>
<div class="flex-box-center" *ngIf="isAnalyst() && !canUpdate()">
  <div class="flex-item">
    <app-create-dependency-report [sortBy]="this.sortBy" [keywords]="this.keywords" [skus]="this.skus"></app-create-dependency-report>
    <button mat-raised-button="export" type="button" (click)="export()" color="accent">Export</button>
  </div>
</div>
<div class="flex-box-center" *ngIf="!isAnalyst() && !canUpdate()">
  <div class="flex-item">
    <button mat-raised-button="export" type="button" (click)="export()" color="accent">Export</button>
  </div>
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [disabled]="!liveEditing">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [disabled]="!liveEditing">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #nameField>
			  <input #name matInput [readonly]="!isEditable()" [value]="element.name" (focus)="addUnderline(nameField)" (blur)="edit(element.name, 'name', name.value); removeUnderline(nameField)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingr#</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #numberField>
        <input #number matInput [readonly]="!isEditable()" [value]="element.id" (focus)="addUnderline(numberField)" (blur)="edit(element.name, 'id', number.value); removeUnderline(numberField)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Vendor Info Column -->
  <ng-container matColumnDef="vendor_info">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Info</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #vendorField>
        <textarea #vendor_info matInput cdkTextareaAutosize [readonly]="!isEditable()" [value]="element.vendor_info" (focus)="addUnderline(vendorField)" (blur)="edit(element.name, 'vendor_info', vendor_info.value); removeUnderline(vendorField)" optional></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Package Size Column -->
  <ng-container matColumnDef="package_size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Package Size</th>
    <td mat-cell *matCellDef="let element">
      <app-unit-autocomplete *ngIf="isEditable()" [initUnit]="element.package_size + element.unit" (messageEvent)="edit(element.name, 'package_size', $event)"></app-unit-autocomplete>
      <ng-container *ngIf="!isEditable()">
        {{element.package_size}}{{element.unit}}
      </ng-container>
    </td>
  </ng-container>

  <!-- Cost Per Package Column -->
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Per Package</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #costField>
        <input #cost_per_package matInput [readonly]="!isEditable()" [value]="element.cost_per_package" (focus)="addUnderline(costField)" (blur)="edit(element.name, 'cost_per_package', cost_per_package.value); removeUnderline(costField)" required>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #commentField>
        <textarea #comment="cdkTextareaAutosize" matInput cdkTextareaAutosize [readonly]="!isEditable()" [value]="element.comment" (focus)="addUnderline(commentField)" (blur)="edit(element.name, 'comment', comment.value); removeUnderline(commentField)" optional></textarea>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Num Skus Column -->
  <ng-container matColumnDef="num_skus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SKUs</th>
    <td mat-cell *matCellDef="let element"> {{getNumSkus(element)}}
    <mat-icon *ngIf="expandedIngredient!=element" (click)="expandedIngredient = expandedIngredient === element ? null : element" color="accent">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="expandedIngredient==element" (click)="expandedIngredient = expandedIngredient === element ? null : element" color="accent">keyboard_arrow_up</mat-icon></td>
  </ng-container>

  <!-- Expanded SKUs Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedIngredient ? 'expanded' : 'collapsed'">
        <mat-chip-list align="end" class="mat-chip-list-stacked">
          <ng-container *ngFor="let sku of element.skus; let id2=index">
            <div>
              <mat-chip class="chip">{{sku.name}} : {{sku.size}} * {{sku.count}} ({{sku.number}})</mat-chip>
            </div>
          </ng-container>
        </mat-chip-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedIngredient === element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
</table>

<mat-paginator [length]="totalDocs" [pageSize]="10 < totalDocs ? 10 : totalDocs" [pageSizeOptions]="[10, totalDocs]" showFirstLastButtons></mat-paginator>
