<div class="container">
    <h1>Add Manufacturing Goal</h1>
    <form (ngSubmit)="submit()" #manufGoalForm="ngForm">
      <div class="form-group">
        <label for="name">Manufacturing Goal Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="manufGoal.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!manufGoalForm.form.valid" [mat-dialog-close]="manufGoal">Submit</button>

    </form>
</div>


<!-- <h1 mat-dialog-title>Add Manufacturing Goal</h1>
<div mat-dialog-content>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Manufacturing Goal</th>
      <th class="text-center">SKUs and Quantity</th>
    </tr>

    <tr>

      <td> <input class = "input" [(ngModel)]="manufGoal.name"></td>
      <td>
        <ng-container *ngFor="let sku_quant of manufGoal.skus; let id=index">
          <a *ngIf="sku_quant.sku_name!=null">{{sku_quant.sku_name}} : {{sku_quant.case_quantity}}
            <i (click)="removeSku(id)" class="fa fa-remove"> </i><br></a>
        </ng-container>
        <app-search-sku></app-search-sku>
        <input [(ngModel)]="quantityInput" (keydown) = "keyPressed($event)" type="text" placeholder="Quantity"/><br>
      </td>

    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="manufGoal" cdkFocusInitial>Ok</button>
</div> -->
