<div *ngIf="isAdmin()">
  <mat-card class="example-card">
     <mat-card-header>
       <mat-card-title>Register a new user</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <div class="align-center">
         <form class="example-form">
           <table class="example-full-width" cellspacing="0">
             <tr>
               <td>
               <mat-form-field class="example-full-width">
                 <input #name matInput placeholder="Name" name="name" required>
               </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
               <mat-form-field class="example-full-width">
                 <input #email matInput placeholder="Email" name="email" required>
               </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
                 <mat-form-field class="example-full-width">
                     <input #password matInput placeholder="Password" type="password" name="password" required>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
                 <mat-form-field class="example-full-width">
                     <input #password2 matInput placeholder="Repeat password" type="password" name="password2" required>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
                  <mat-form-field>
                      <mat-select placeholder="Give administrator priveleges" [(value)]="newAdminSelection">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                      </mat-select>
                    </mat-form-field>
               </td>
             </tr>
         </table>
         </form>
         <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
       </div>
     </mat-card-content>
     <mat-card-actions>
       <button mat-raised-button (click)="register(name.value, email.value, password.value, password2.value)" color="primary">Register</button>
     </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="make-admin-card">
      <mat-card-header>
          <mat-card-title>Update a user's settings (prepend "netid_" to select NetId users)</mat-card-title>
        </mat-card-header>
      <mat-card-content>
        <app-user-autocomplete (messageEvent)="updateUser($event)"></app-user-autocomplete>
        <mat-selection-list #list [(ngModel)]="selectedOptions" *ngIf="userInput!=null && userInput.length>0">
          <mat-list-option *ngFor="let priv of adminPriveleges" [value]="priv">
            {{priv}}
          </mat-list-option>
        </mat-selection-list>

        <button mat-raised-button type="button" [matMenuTriggerFor]="menu" *ngIf="selectedOptions.indexOf('Plant Manager')>-1">Select Manufacturing Lines for Plant Manager</button>
        <mat-menu #menu="matMenu">
          <mat-selection-list [(ngModel)]="selectedManufLines" #manufLines>
            <mat-list-option (click)="handleClick($event)" *ngFor="let manufLine of manufacturingLines" [value]='manufLine'>{{manufLine}}</mat-list-option>
          </mat-selection-list>
        </mat-menu>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="updatePriveleges()" color="primary">Update Priveleges</button>
        <button mat-raised-button (click)="deleteUser()" color="primary">Delete user</button>
      </mat-card-actions>
  </mat-card>
</div>
