<div *ngIf="isAdmin()">
  <mat-card class="example-card">
     <mat-card-header>
       <mat-card-title>Register a new user</mat-card-title>
     </mat-card-header>
     <mat-card-content>
       <div class="align-center">
         <form class="example-form">
           <table class="example-full-width" cellspacing="0">
             <tr>
               <td>
               <mat-form-field class="example-full-width">
                 <input #name matInput placeholder="Name" name="name" required>
               </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
               <mat-form-field class="example-full-width">
                 <input #email matInput placeholder="Email" name="email" required>
               </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
                 <mat-form-field class="example-full-width">
                     <input #password matInput placeholder="Password" type="password" name="password" required>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
                 <mat-form-field class="example-full-width">
                     <input #password2 matInput placeholder="Repeat password" type="password" name="password2" required>
                 </mat-form-field>
               </td>
             </tr>
             <tr>
               <td>
                  <mat-form-field>
                      <mat-select placeholder="Give administrator priveleges" [(value)]="newAdminSelection">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                      </mat-select>
                    </mat-form-field>
               </td>
             </tr>
         </table>
         </form>
         <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
       </div>
     </mat-card-content>
     <mat-card-actions>
       <button mat-raised-button (click)="register(name.value, email.value, password.value, password2.value)" color="primary">Register</button>
     </mat-card-actions>
  </mat-card>
  <mat-card class="make-admin-card">
      <mat-card-header>
          <mat-card-title>Update a user's settings (prepend "netid_" to select NetId users)</mat-card-title>
        </mat-card-header>
      <mat-card-content>
      <form>
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="User email" aria-label="User email" matInput [formControl]="adminFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of suggestedUsers" [value]="option.email">
                {{option.email}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Give administrator priveleges" [(value)]="adminSelection">
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="updatePriveleges(adminFormControl.value, adminSelection)" color="primary">Update Priveleges</button>
        <button mat-raised-button (click)="deleteUser(adminFormControl.value)" color="primary">Delete user</button>
      </mat-card-actions>
  </mat-card>
</div>
