  :host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .actions {
    justify-content: flex-end;
  }
  
  .select-file-card {
    width: 600px;
    margin: auto;
  }
  
.confirm-card, .success-card {
    height: 100%;
    width: 95%;
    margin: auto;
}

  .upload-content-container {
      padding-top: 20px;
  }

.submit-files-btn {
    float: right;
}

.upload-table {
    width: 100%;
}

.button-container {
  height: 50px;
}