<!-- code based off https://mdbootstrap.com/docs/angular/tables/editable/#advanced-table-options -->
<h1 class="mat-display-3" align="center">Product Lines</h1>
<div class="search-div">
    <br style="clear:both" />
</div>
<div *ngIf="canUpdate()" align="center">
  <mat-slide-toggle [(ngModel)]="liveEditing">Live Editing Enabled</mat-slide-toggle>
</div>
<div id="search-div" *ngIf="canUpdate()">
  <button class="remove" mat-raised-button="remove" type="button" (click)="remove()" color="accent" [disabled]="selection.selected.length==0 || !isEditable()">Remove Selected</button>
  <app-add-product-line [disabled]="!liveEditing" class="add"></app-add-product-line>
  <button class="export" mat-raised-button="export" type="button" (click)="export()" color="accent">Export</button>
</div>
<div class="flex-box-center" *ngIf="!canUpdate()">
  <div class="flex-item">
    <button mat-raised-button="export" type="button" (click)="export()" color="accent">Export</button>
  </div>
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [disabled]="!liveEditing">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [disabled]="!liveEditing">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #nameField>
			  <input #name matInput [readonly]="!isEditable()" (focus)="addUnderline(nameField)" [value]="element.name" (blur)="edit(element.name, 'name', name.value); removeUnderline(nameField)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalDocs" [pageSize]="10 < totalDocs ? 10 : totalDocs" [pageSizeOptions]="[10, totalDocs]" showFirstLastButtons></mat-paginator>


<!--
<div class="card">
  <h3 class="card-header text-center font-weight-bold py-4">Product Lines</h3>
<div class="pagination">
  <a (click) = "prevPage()">&laquo;</a>
  <li *ngFor="let i of shownPages()" (click)="setPage(i)">
      <a [ngClass]="{active: i == currentPage}">{{i}}</a>
  </li>
  <a (click) = "nextPage()">&raquo;</a>
</div>
  <div class="card-body">
    <button class = "add" type="button" (click)="export()">Export</button>
    <div id="table" class="table-editable">
      <app-add-product-line *ngIf="isAdmin()"></app-add-product-line>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Product Line Name</th>
        </tr>

       <ng-container *ngFor="let productLine of productLineList; let id=index">

         <ng-container *ngIf="isAdmin()==true">
            <tr>
                <td contenteditable="true" (blur)="edit(productLine.name, 'name', $event)">{{productLine.name}}</td>
              <td>
                <button class="remove" type="button" (click)="remove(productLine.name)">Remove</button>
              </td>
            </tr>
          </ng-container>


          <ng-container *ngIf="isAdmin()==false">
            <tr>
              <td contenteditable="false">{{productLine.name}}</td>
            </tr>
          </ng-container>

        </ng-container>

      </table>
    </div>
  </div>
</div> -->
