<div class="container">
    <h1>Add Manufacturing Goal</h1>
    <form (ngSubmit)="submit()" #manufGoalForm="ngForm">
      <div class="form-group">
        <label for="name">Manufacturing Goal Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="manufGoal.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
      </div>

      <label for="sku_quantities">Sku-Quantities</label>
      <mat-chip-list>
        <ng-container *ngFor="let sku_quant of manufGoal.sku_tuples; let id=index">
          <div>
            <mat-chip>{{sku_quant.sku.name}} : {{sku_quant.sku.size}} * {{sku_quant.sku.count}} , {{sku_quant.case_quantity}} <mat-icon (click)="removeSku(id)">clear</mat-icon></mat-chip><br>
          </div>
        </ng-container>
      </mat-chip-list>
      <mat-card>
        <mat-card-subtitle [style.color]="'black'">New Sku-Quantity Pair</mat-card-subtitle>
        <app-search-sku (skuSelected)="setSku($event)"></app-search-sku>
        <input class="form-control" name="quantity" [(ngModel)]="quantityInput" name="quantity" (keydown) = "keyPressed($event)" type="text" placeholder="Quantity"/><br>
        <button mat-raised-button type="button" (click)="addSkuQuantity($event)" color="accent"
          [disabled]="skuInput==undefined || skuInput.name.length==0 || quantityInput==undefined || quantityInput.length==0">Add Sku-Quantity</button>
      </mat-card>

      <div class="form-group">
        <label for="deadline">Manufacturing Goal Deadline</label>
        <input class="form-control" id="deadline" required [(ngModel)]="manufGoal.deadline" name="deadline" #deadline="ngModel" [matDatepicker]="myDatepicker">
        <!-- <input [(ngModel)]="manufGoal.deadline" required name="deadline" #deadline="ngModel" id="deadline" [matDatepicker]="myDatepicker"> -->
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <div [hidden]="deadline.valid || deadline.pristine" class="alert alert-danger">Deadline is required</div>
      </div>

      <!-- <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="text" class="form-control" id="deadline" required [(ngModel)]="manufGoal.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
      </div> -->

      <button type="submit" class="btn btn-success" [disabled]="!manufGoalForm.form.valid" [mat-dialog-close]="manufGoal">Submit</button>

    </form>
</div>


<!-- <h1 mat-dialog-title>Add Manufacturing Goal</h1>
<div mat-dialog-content>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">Manufacturing Goal</th>
      <th class="text-center">SKUs and Quantity</th>
    </tr>

    <tr>

      <td> <input class = "input" [(ngModel)]="manufGoal.name"></td>
      <td>
        <ng-container *ngFor="let sku_quant of manufGoal.skus; let id=index">
          <a *ngIf="sku_quant.sku_name!=null">{{sku_quant.sku_name}} : {{sku_quant.case_quantity}}
            <i (click)="removeSku(id)" class="fa fa-remove"> </i><br></a>
        </ng-container>
        <app-search-sku></app-search-sku>
        <input [(ngModel)]="quantityInput" (keydown) = "keyPressed($event)" type="text" placeholder="Quantity"/><br>
      </td>

    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="manufGoal" cdkFocusInitial>Ok</button>
</div> -->
