<mat-form-field style="width: 300px;">
  <input type="text" matInput [formControl]="productLineField" [matAutocomplete]="productLine" placeholder="Product Line" (keydown)="keyPressedProductLine($event)">
</mat-form-field>

<mat-autocomplete #productLine="matAutocomplete" (optionSelected)="onProductLineSelection($event)">
  <mat-option *ngFor="let productLine of suggestedProductLines" [value]="productLine.name">{{productLine.name}}
     <font color="lightgray">Product Line</font> </mat-option>
</mat-autocomplete>

<mat-form-field style="width: 300px;">
  <input type="text" matInput [formControl]="skuField" [matAutocomplete]="sku" placeholder="SKU" (keydown)="keyPressedSku($event)">
</mat-form-field>

<mat-autocomplete #sku="matAutocomplete" (optionSelected)="onSkuSelection($event)">
  <mat-option *ngFor="let sku of suggestedSkus" [value]="sku.name">{{sku.name}}
     <font color="lightgray">SKU</font> </mat-option>
</mat-autocomplete>
