<div *ngIf="this.authService.isAuthenticated()">
	<mat-toolbar class="fixed-header" color="primary" *ngIf="this.authService.isAuthenticated()">
	<mat-toolbar-row>
	<span>{{title}}</span>
	    <span class="example-fill-remaining-space"></span>
	    <span class="align-center"></span>
	    <span class="example-spacer"></span>
	    <button mat-button (click)="router.navigate(['dashboard'])">Home</button>
			<button mat-button [matMenuTriggerFor]="menu">Database</button>
			<mat-menu #menu="matMenu">
			  <button mat-menu-item (click)="router.navigate(['dashboard/ingredients'])">Ingredients</button>
			  <button mat-menu-item (click)="router.navigate(['dashboard/product-lines'])">Product Lines</button>
				<button mat-menu-item (click)="router.navigate(['dashboard/skus'])">SKUs</button>
				<button mat-menu-item (click)="router.navigate(['dashboard/formulas'])">Formulas</button>
			</mat-menu>
			<button mat-button [matMenuTriggerFor]="manufacturingMenu">Manufacturing</button>
			<mat-menu #manufacturingMenu="matMenu">
				<button mat-menu-item (click)="router.navigate(['dashboard/manufacturing-goals'])">Goals</button>
				<button mat-menu-item (click)="router.navigate(['dashboard/manufacturing-lines'])">Lines</button>
				<button *ngIf="this.authService.isAdmin() || this.authService.isProductManager() || this.authService.isBusinessManager() || this.authService.isPlantManager() || this.authService.isAnalyst()" mat-menu-item (click)="router.navigate(['dashboard/manufacturing-schedule'])">Schedule</button>
			</mat-menu>
			<button mat-button *ngIf="this.authService.isAdmin() || this.authService.isProductManager() || this.authService.isBusinessManager() || this.authService.isPlantManager() || this.authService.isAnalyst()" (click)="router.navigate(['dashboard/sales-report'])">Sales Report</button>
			<button mat-button *ngIf="this.authService.isAdmin() || this.authService.isProductManager()" (click)="router.navigate(['dashboard/upload'])">Data Import</button>
			<button mat-button *ngIf="this.authService.isAdmin()" (click)="router.navigate(['dashboard/accounts'])">Accounts</button>
			<button mat-button (click)="authService.logout()">Log out</button>
	 </mat-toolbar-row>
	</mat-toolbar>
</div>
<router-outlet></router-outlet>
