<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
	<h1>
	Welcome to {{ title }}!
	</h1>
 	<div *ngIf="this.authService.loginState.loggedIn">
	  	<div class="row">
	  		<div class="col">
				<button class="btn bt-outline-primary" (click)="router.navigate(['dashboard'])">Home</button>
			</div>
		 	<div class="col">
		    	<div ngbDropdown class="d-inline-block">
			     	<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Database</button>
			     	<div class="nav-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
			        	<button class="dropdown-item btn btn-outline-primary" (click)="router.navigate(['dashboard/ingredients'])">Ingredients</button>
								<button class="dropdown-item btn btn-outline-primary" (click)="router.navigate(['dashboard/product-lines'])">Product Lines</button>
								<button class="dropdown-item btn btn-outline-primary" (click)="router.navigate(['dashboard/skus'])">Skus</button>
			     	</div>
		    	</div>
			</div>
			<div class="col">
					<button class="btn bt-outline-primary" (click)="router.navigate(['dashboard/manufacturing'])">Manufacturing</button>
			</div>
			<div class="col">
				<button class="btn bt-outline-primary" (click)="router.navigate(['dashboard/upload'])">Data Import</button>
			</div>
			<div class="col">
					<button class="btn bt-outline-primary" (click)="router.navigate(['dashboard/accounts'])">Accounts</button>
			</div>
	 	</div>
 	</div> -->
	<div *ngIf="this.authService.loginState.loggedIn">
<mat-toolbar color="primary" *ngIf="this.authService.loginState.loggedIn">
<mat-toolbar-row>
<span>{{title}}</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button (click)="router.navigate(['dashboard'])">Home</button>
		<button mat-button [matMenuTriggerFor]="menu">Database</button>
			<mat-menu #menu="matMenu">
			  <button mat-menu-item (click)="router.navigate(['dashboard/ingredients'])">Ingredients</button>
			  <button mat-menu-item (click)="router.navigate(['dashboard/product-lines'])">Product Lines</button>
				<button mat-menu-item (click)="router.navigate(['dashboard/skus'])">SKUs</button>
			</mat-menu>
			<button mat-button (click)="router.navigate(['dashboard/manufacturing'])">Manufacturing</button>
			<button mat-button (click)="router.navigate(['dashboard/upload'])">Data Import</button>
			<button mat-button (click)="router.navigate(['dashboard/accounts'])">Accounts</button>
 </mat-toolbar-row>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
<!-- </div> -->
