<mat-chip-list>
  <ng-container *ngFor="let keyword of keywords; let id=index">
    <mat-chip>{{keyword}} <mat-icon (click)="remove(id)">clear</mat-icon></mat-chip>
  </ng-container>
  <ng-container *ngFor="let sku of skus; let id=index">
    <mat-chip color="accent" selected>{{sku}} <mat-icon (click)="removeSku(id)">clear</mat-icon></mat-chip>
  </ng-container>
</mat-chip-list>

<br>

<mat-form-field style="width: 300px;">
  <input type="text" matInput [formControl]="inputField" [matAutocomplete]="auto" placeholder="Search for ingredients/skus" (keydown)="keyPressed($event)">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
  <mat-option *ngFor="let sku of suggestedSkus" [value]="sku.name">{{sku.name}}
     <font color="lightgray">SKU</font> </mat-option>
</mat-autocomplete>
