<h1 mat-dialog-title>Bulk Sku Edit</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab *ngIf="data.all.length>0" label="All SKUs can be produced on these lines">
      <mat-selection-list #allskus>
        <mat-list-option *ngFor="let name of data.all">
          {{name}}
        </mat-list-option>
      </mat-selection-list>      
    </mat-tab>
    <mat-tab *ngIf="data.some.length>0" label="Some SKUs can be produced on these lines">
      <mat-selection-list #someskus>
        <mat-list-option *ngFor="let name of data.some">
          {{name}}
        </mat-list-option>
      </mat-selection-list>      
    </mat-tab>
    <mat-tab *ngIf="data.none.length>0" label="No SKUs can be produced on these lines">
      <mat-selection-list #noskus>
        <mat-list-option *ngFor="let name of data.some">
          {{name}}
        </mat-list-option>
      </mat-selection-list>      
    </mat-tab>
</mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button>Add</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>