<h1 class="mat-display-3" align="center">Welcome to Hypo®Mea3s</h1>
<h1 class="mat-subheading-2" align="center">Navigate Using the Navbar</h1>
<h1 *ngIf="isAdmin()" class="mat-subheading-2" align="center">Priveleges:</h1>
<div class="center">
  <mat-chip-list align="center" class="mat-chip-list-stacked">
    <div class="center">
      <mat-chip class="chip" *ngIf="isAnalyst()">Analyst</mat-chip>
    </div>
    <div class="center">
      <mat-chip class="chip" *ngIf="isProductManager()">Product Manager</mat-chip>
    </div>
    <div class="center">
      <mat-chip class="chip" *ngIf="isBusinessManager()">Business Manager</mat-chip>
    </div>
    <div class="center">
      <mat-chip class="chip" *ngIf="isPlantManager()">Plant Manager</mat-chip>
    </div>
    <div class="center">
      <mat-chip class="chip" *ngIf="isAdmin()">Admin</mat-chip>
    </div>
  </mat-chip-list>
<div>
