<h1 class="mat-display-3" align="center">Manufacturing Goals</h1>
<div *ngIf="canUpdate()" align="center">
  <mat-slide-toggle [(ngModel)]="liveEditing">Live Editing Enabled</mat-slide-toggle>
</div>
<div class="button-div" *ngIf="canUpdate()">
  <button class="remove" mat-raised-button type="button" (click)="delete()" color="accent" [disabled]="selection.selected.length==0 || !isEditable()">Remove Selected</button>
  <button mat-raised-button [disabled]="selection.selected.length==0" color="accent" type="button" (click)="exportcsv()">Export</button>
  <app-calculator [disabled]="selection.selected.length!=1" [manufGoal]="selection.selected[0]!=null ? selection.selected[0].name : null"></app-calculator>
  <app-add-manufacturing-goal class="add"></app-add-manufacturing-goal>
</div>
<div class="flex-box-center" *ngIf="isAnalyst() && !isBusinessManager() && !isAdmin()">
  <div class="flex-item">
    <button mat-raised-button [disabled]="selection.selected.length==0" color="accent" type="button" (click)="exportcsv()">Export</button>
    <app-calculator [disabled]="selection.selected.length!=1" [manufGoal]="selection.selected[0]!=null ? selection.selected[0].name : null"></app-calculator>
  </div>
</div>
<div class="flex-box-center" *ngIf="!isAnalyst() && !isBusinessManager() && !isAdmin()">
  <div class="flex-item">
    <button mat-raised-button [disabled]="selection.selected.length==0" color="accent" type="button" (click)="exportcsv()">Export</button>
  </div>
</div>
<div class="example-loading-shade" *ngIf="loadingResults">
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never" #nameField>
			  <input #name matInput [readonly]="!isEditable()" (focus)="addUnderline(nameField)" [value]="element.name" (blur)="edit(element.name, 'name', name.value); removeUnderline(nameField)" required>
			</mat-form-field>
    </td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
    <td mat-cell *matCellDef="let element">
      {{element.author}}
    </td>
  </ng-container>

  <!-- Last Edit Column -->
  <ng-container matColumnDef="last_edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Edit</th>
    <td mat-cell *matCellDef="let element">
      {{element.last_edit}}
    </td>
  </ng-container>

  <!-- Skus Column -->
  <ng-container matColumnDef="skus">
    <th mat-header-cell *matHeaderCellDef>SKUs</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let sku of element.sku_tuples; let sku_id=index">
        <a *ngIf="sku.sku!=undefined">{{sku.sku.name}} ({{sku.sku.number}}) : {{sku.case_quantity}}<br></a>
      </ng-container>
    </td>
  </ng-container>

  <!-- Deadline Column -->
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef>Deadline</th>
    <td mat-cell *matCellDef="let element">
      {{element.deadline | date: 'MM/dd/yyyy'}}
    </td>
  </ng-container>

  <!-- Enabled Column -->
  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef>Enabled</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox (click)="toggleEnabled($event, element)"
                    [checked]="enabled.isSelected(element)">
      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalDocs" [pageSize]="10 < totalDocs ? 10 : totalDocs" [pageSizeOptions]="[10, totalDocs]" showFirstLastButtons></mat-paginator>
