<mat-form-field style="width: 200px;" #productLineForm>
  <input type="text" (focus)="addUnderline(productLineForm)" (blur)="removeUnderline(productLineForm)" matInput (click)="stopPropagation($event)" [formControl]="inputField" [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
    <mat-option *ngFor="let line of suggestedProductLines" [value]="line">
      {{line}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
