<div class="container">
    <h1>Add SKU</h1>
    <form (ngSubmit)="submit()" #skuForm="ngForm">
      <div class="form-group">
        <label for="name">SKU Name</label>
        <input type="text" class="form-control" id="name" maxlength="32" required [(ngModel)]="sku.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>

        <label for="number">SKU Number</label>
        <input type="number" min="0" class="form-control" id="number" [(ngModel)]="sku.id" name="number" #number="ngModel">

        <label for="case_upc">Case UPC Number</label>
        <input type="text" class="form-control" id="case_upc" pattern="^[0-1,6-9][0-9]{11}$" required [(ngModel)]="sku.case_upc" name="case_upc" #case_upc="ngModel">
        <div [hidden]="case_upc.valid || case_upc.pristine" class="alert alert-danger">Must be valid Case UPC</div>

        <label for="unit_upc">Unit UPC Number</label>
        <input type="text" class="form-control" id="unit_upc" pattern="^[0-1,6-9][0-9]{11}$" required [(ngModel)]="sku.unit_upc" name="unit_upc" #unit_upc="ngModel">
        <div [hidden]="unit_upc.valid || unit_upc.pristine" class="alert alert-danger">Must be valid Unit UPC</div>

        <label for="unit_size">Unit Size</label>
        <input type="text" min="0" class="form-control" id="cost_per_package" required [(ngModel)]="sku.unit_size" name="unit_size" #unit_size="ngModel">
        <div [hidden]="unit_size.valid || unit_size.pristine" class="alert alert-danger">Unit Size is required</div>

        <label for="count_per_case">Count Per Case</label>
        <input type="number" min="0" class="form-control" id="count_per_case" required [(ngModel)]="sku.count_per_case" name="count_per_case" #count_per_case="ngModel">
        <div [hidden]="count_per_case.valid || count_per_case.pristine" class="alert alert-danger">Count Per Case is required</div>

        <label for="product_line">Product Line</label>
        <input type="text" min="0" class="form-control" id="product_line" required [(ngModel)]="sku.product_line" name="product_line" #product_line="ngModel">
        <div [hidden]="product_line.valid || product_line.pristine" class="alert alert-danger">Product Line is required</div>

        <label for="formula">Formula</label>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <!-- <input matInput (click)="handleClick($event)" placeholder="Formula Name"> -->
                <input type="text" class="form-control" id="formula" (click)="handleClick($event)" placeholder="Formula Name" required [(ngModel)]="sku.formula.name" name="formula" #formula="ngModel">
              </mat-panel-title>
              <mat-panel-description>
                Edit Formula
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <mat-form-field floatLabel="never">
                <input matInput [(ngModel)]="sku.formula.number" name="formula#" placeholder="Formula#">
              </mat-form-field>
              <mat-form-field floatLabel="never">
                <textarea matInput [(ngModel)]="sku.formula.comment" name="formula comment" placeholder="Comment"></textarea>
              </mat-form-field>
            </div>
            <mat-card>
              <mat-card-subtitle [style.color]="'black'">Ingredient-Quantity Pairs</mat-card-subtitle>
              <mat-chip-list>
                <ng-container *ngFor="let ingredient of sku.formula.ingredient_tuples; let ingr_id=index">
                  <div>
                    <mat-chip>{{ingredient.ingredient_name}} : {{ingredient.quantity}} <mat-icon (click)="removeIngrQuant(ingr_id)">clear</mat-icon></mat-chip>
                  </div>
                </ng-container>
              </mat-chip-list>
              <app-ingredient-autocomplete (messageEvent)="setIngredientInput($event)"></app-ingredient-autocomplete>
              <mat-form-field style="width: 200px;">
                <input matInput [(ngModel)]="quantityInput" (keydown) = "keyPressed($event)" name="quantity" type="text" placeholder="Quantity"/><br>
              </mat-form-field>
              <button mat-raised-button type="button" (click)="addIngredientQuantity($event)" color="accent"
                [disabled]="ingredientInput==null || ingredientInput.length==0 || quantityInput==null || quantityInput.length==0">Add Ingr-Quant</button>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>

        <label for="scale_factor">Formula Scale Factor</label>
        <input type="text" class="form-control" id="scale_factor" pattern="^\d*\.?\d*$" required [(ngModel)]="sku.formula_scale_factor" name="scale_factor" #scale_factor="ngModel">
        <div [hidden]="scale_factor.valid || scale_factor.pristine" class="alert alert-danger">Scale Factor must be a decimal number</div>

        <label for="scale_factor">Manufacturing Lines</label>
        <li *ngFor="let manufLine of manufLines.selectedOptions.selected">{{manufLine.value}}</li>
        <button mat-raised-button type="button" [matMenuTriggerFor]="menu">Select Manufacturing Lines</button>
        <mat-menu #menu="matMenu">
          <mat-selection-list (selectionChange)="setManufacturingLines(manufLines.selectedOptions.selected)" #manufLines>
            <mat-list-option (click)="handleClick($event)" *ngFor="let manufLine of manufacturingLines" [value]='manufLine'>{{manufLine}}</mat-list-option>
          </mat-selection-list>
        </mat-menu>

        <label for="manufacturing_rate">Manufacturing Rate</label>
        <input type="text" class="form-control" id="manufacturing_rate" pattern="^\d*\.?\d*$" required [(ngModel)]="sku.manufacturing_rate" name="manufacturing_rate" #manufacturing_rate="ngModel">
        <div [hidden]="manufacturing_rate.valid || manufacturing_rate.pristine" class="alert alert-danger">Manufacturing Rate must be a decimal number</div>

        <label for="setup_cost">Manufacturing Setup Cost</label>
        <input type="text" class="form-control" id="setup_cost" pattern="^\d*\.?\d*$" required [(ngModel)]="sku.setup_cost" name="setup_cost" #setup_cost="ngModel">
        <div [hidden]="setup_cost.valid || setup_cost.pristine" class="alert alert-danger">Manufacturing Setup Cost must be a decimal number</div>

        <label for="run_cost">Manufacturing Run Cost</label>
        <input type="text" class="form-control" id="run_cost" pattern="^\d*\.?\d*$" required [(ngModel)]="sku.run_cost" name="run_cost" #run_cost="ngModel">
        <div [hidden]="run_cost.valid || run_cost.pristine" class="alert alert-danger">Manufacturing Run Cost must be a decimal number</div>

        <label for="comment">Comment</label>
        <textarea type="text" class="form-control" id="comment" [(ngModel)]="sku.comment" name="comment" #comment="ngModel"></textarea>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!skuForm.form.valid || !nameLengthValid" [mat-dialog-close]="sku">Submit</button>

    </form>
</div>

<!-- <h1 mat-dialog-title>Add SKU</h1>
<div mat-dialog-content>
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th class="text-center">SKU Name</th>
      <th class="text-center">SKU Number</th>
      <th class="text-center">Case UPC Number</th>
      <th class="text-center">Unit UPC Number</th>
      <th class="text-center">Unit Size</th>
      <th class="text-center">Count Per Case</th>
      <th class="text-center">Product Line</th>
      <th class="text-center">Ingredient-Quantity</th>
      <th class="text-center">Comment</th>
    </tr>

    <tr>

      <td> <input class = "input" [(ngModel)]="sku.name"></td>
      <td> <input class = "input" [(ngModel)]="sku.id"></td>
      <td> <input class = "input" [(ngModel)]="sku.case_upc"></td>
      <td> <input class = "input" [(ngModel)]="sku.unit_upc"></td>
      <td> <input class = "input" [(ngModel)]="sku.unit_size"></td>
      <td> <input class = "input" [(ngModel)]="sku.count_per_case"></td>
      <td> <input class = "input" [(ngModel)]="sku.product_line"></td>

      <td contenteditable="false">
        <ng-container *ngFor="let ingredient of sku.ingredient_quantity; let ingr_id=index">
          <a *ngIf="ingredient.ingredient_name!=null">{{ingredient.ingredient_name}} : {{ingredient.quantity}}
            <i (click)="removeIngrQuant(ingr_id)" class="fa fa-remove"> </i><br></a>
        </ng-container>
        <app-ingredient-autocomplete (messageEvent)="setIngredientInput($event)"></app-ingredient-autocomplete>
        <mat-form-field style="width: 200px;">
          <input matInput [(ngModel)]="quantityInput" (keydown) = "keyPressed($event)" type="text" placeholder="Quantity"/><br>
        </mat-form-field>
      </td>
      <td> <input class = "input" [(ngModel)]="sku.comment"></td>

    <tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="sku" cdkFocusInitial>Ok</button>
</div> -->
