
<mat-sidenav-container class="example-container">
  <mat-sidenav [fixedInViewport]="true" [fixedTopGap]="65" mode="side" opened>
    <div class="example-container">
      <h2>Goals</h2>
      <app-search-goals></app-search-goals>
      <br>
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle [style.color]="'black'">
          Enabled Goals
        </mat-card-subtitle>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="right" *ngFor="let item of manufGoalList; let id=index">
              {{item.name}} <mat-icon (click)="remove(id)">clear</mat-icon>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <h2>Palette</h2>
      <div
        cdkDropList
        #activities="cdkDropList"
        [cdkDropListData]="activityList"
        [cdkDropListConnectedTo]="getLists()"
        id="manufacturing-activities"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of activityList" cdkDrag>{{item.sku.name}} &nbsp; ({{item.manufacturing_goal}})
          <mat-icon *cdkDragPreview></mat-icon>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav [fixedInViewport]="true" [fixedTopGap]="65" mode="side" position="end" opened>
    <h2>Warnings</h2>
    <mat-card class="mat-elevation-z2">
      <mat-card-subtitle [style.color]="'black'">
        Warning Conditions
      </mat-card-subtitle>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Activities Enabled but Not Scheduled
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <ul>
                <li>
              </ul>
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Activities Scheduled After Deadline
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Orphaned Manufacturing Activities
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Overridden Durations
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <h2>Reports</h2>
    <mat-card style="width:100%" class="mat-elevation-z2">
      <mat-card-subtitle [style.color]="'black'">
        Warning Conditions
      </mat-card-subtitle>
      <mat-card-content>
        <form>
          <mat-form-field style="width:100%" appearance="fill">
            <input matInput [matDatepicker]="picker" [(ngModel)]="currDate" (ngModelChange)="refreshHours()" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="width:100%" appearance="fill">
            <mat-label>Duration</mat-label>
            <input type="number" matInput placeholder="Duration" id="dur" required [(ngModel)]="curr" name="dur">
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input type="text" placeholder="Manufacturing Line" aria-label="Manufacturing Line" matInput [formControl]="reportingFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of suggestedManufacturingLines" [value]="option.shortname">
                {{option.shortname}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <!--<mat-form-field style="width:100%" appearance="outline">
          <mat-label>Unit</mat-label>
          <mat-select placeholder="Unit" [(ngModel)]="ingredient.unit" name="unit">
              <mat-option *ngFor="let unit of units" [value]="unit.value">
                {{unit.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>-->
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button (click)="makeReport(reportingFormControl.value)" color="primary">Make Report</button>
        </mat-card-actions>
    </mat-card>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="fixed-container">
      <h2>Manufacturing Schedule</h2>
      <div class="content">
        <app-manufacturing-schedule [remove]="removeEvent"></app-manufacturing-schedule>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
