
<mat-sidenav-container class="example-container">
  <mat-sidenav [fixedInViewport]="true" [fixedTopGap]="65" mode="side" opened>
    <div class="example-container">
      <h2>Goals</h2>
      <mat-list>
        <mat-list-item class="right" *ngFor="let item of todo">
          {{item}} &nbsp; <mat-slide-toggle [(ngModel)]="selectedGoals[item]" (click)="onSelectionChange($event)"></mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <h2>Palette</h2>

      <div
        cdkDropList
        #todoList1="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="['list-1-hour-1', 'list-2-hour-1']"
        id="manufacturing-activities"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}
          <mat-icon *cdkDragPreview></mat-icon>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="fixed-container">
      <h2>Manufacturing Schedule</h2>
      <div class="content">
        <app-manufacturing-schedule></app-manufacturing-schedule>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
